-- MariaDB dump 10.19  Distrib 10.6.5-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: seikkailupeli
-- ------------------------------------------------------
-- Server version	10.6.5-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `huone`
--

DROP TABLE IF EXISTS `huone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `huone` (
  `id` varchar(10) NOT NULL,
  `pohjoinen` varchar(10) DEFAULT NULL,
  `etela` varchar(10) DEFAULT NULL,
  `lansi` varchar(10) DEFAULT NULL,
  `ita` varchar(10) DEFAULT NULL,
  `nimi` varchar(100) DEFAULT NULL,
  `onNPCeita` bit(1) DEFAULT NULL,
  `vari` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `huone`
--

LOCK TABLES `huone` WRITE;
/*!40000 ALTER TABLE `huone` DISABLE KEYS */;
/*!40000 ALTER TABLE `huone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `huonekalut`
--

DROP TABLE IF EXISTS `huonekalut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `huonekalut` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `huone` varchar(100) DEFAULT NULL,
  `tyyppi` varchar(100) DEFAULT NULL,
  `x` int(11) DEFAULT NULL,
  `y` int(11) DEFAULT NULL,
  `vari` varchar(100) DEFAULT NULL,
  `leveys` int(11) DEFAULT NULL,
  `korkeus` int(11) DEFAULT NULL,
  `koriste` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `huonekalut`
--

LOCK TABLES `huonekalut` WRITE;
/*!40000 ALTER TABLE `huonekalut` DISABLE KEYS */;
INSERT INTO `huonekalut` VALUES (1,'4-1','kaappi',200,100,'darkbrown',400,75,0);
/*!40000 ALTER TABLE `huonekalut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pelaaja`
--

DROP TABLE IF EXISTS `pelaaja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pelaaja` (
  `pelaajaId` int(11) NOT NULL AUTO_INCREMENT,
  `nimi` varchar(100) NOT NULL,
  `hp` int(11) NOT NULL DEFAULT 100,
  `huone` int(11) NOT NULL DEFAULT 1,
  `raha` int(11) DEFAULT NULL,
  PRIMARY KEY (`pelaajaId`),
  UNIQUE KEY `nimi` (`nimi`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pelaaja`
--

LOCK TABLES `pelaaja` WRITE;
/*!40000 ALTER TABLE `pelaaja` DISABLE KEYS */;
INSERT INTO `pelaaja` VALUES (1,'p1',100,1,NULL);
/*!40000 ALTER TABLE `pelaaja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vihollinen`
--

DROP TABLE IF EXISTS `vihollinen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vihollinen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hp` int(11) NOT NULL DEFAULT 100,
  `dmg` int(11) NOT NULL,
  `huone` varchar(100) DEFAULT NULL,
  `nimi` varchar(100) DEFAULT NULL,
  `x` int(11) DEFAULT NULL,
  `y` int(11) DEFAULT NULL,
  `nopeus` int(11) DEFAULT NULL,
  `vari2` varchar(50) DEFAULT NULL,
  `vari1` varchar(50) DEFAULT NULL,
  `elossa` tinyint(1) DEFAULT NULL,
  `kuva` varchar(100) DEFAULT NULL,
  `leveys` int(11) DEFAULT NULL,
  `korkeus` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vihollinen`
--

LOCK TABLES `vihollinen` WRITE;
/*!40000 ALTER TABLE `vihollinen` DISABLE KEYS */;
/*!40000 ALTER TABLE `vihollinen` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022 BCE
-- + kaikkien elvyttäimnen ->
update vihollinen set elossa=true;

/*
update table huone set kuvaus="Heräät mutalammikosta, ja pyyhit silmäsi mudasta.
 Tunnet tyhjät taskusi, jossa ei muuten olisi mitään outoa, 
 mutta muistat, että taskussasi oli juuri tuntemattomalta 'lainaamasi' lompakko.
 Mihin se mahtasi kadota?" where id="4-1";


*/