html{
    zoom:75%;
}
body{
    background-color:darkkhaki;
}
.canvas{
    border:5px solid brown;
    visibility:none;

}
.peliContainer{
    float:right;

}
.dmgIndicator{
    float:right;
    margin-right:10em;
    font-size:65px;
}
.vihHp{
    font-size:xx-large;
}
.pelitieto{
    text-align: right;
}
