html{
    zoom:75%;
}
body{
    background-color:darkkhaki;
}
p{
    margin-bottom:-10px;
}
.canvas{
    border:5px solid brown;
    visibility:none;

}
.peliContainer{
    float:right;

}
.dmgIndicator{
    float:right;
    margin-right:10em;
    font-size:65px;
}
.pelitieto{
    text-align: right;
}
