.centeredDiv{
    display: table;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
.peliBody{
    background-image: url("background.jpg");
    background-size: cover;
    
    height: 470px;
    width:750px;
    border: 5px solid brown;
}
.kertoja{
    margin-top:100px;
}
.grid{
    display: grid;
    gap: 10px;
    padding: 10px;
    text-align: center;
    width:100px;
    margin-left: 300px;
}
.grid-item{
}
.grid-item-1{
    grid-column: 5 / span 8;
    grid-row: 1;
}
.grid-item-2{
    grid-column: 1 / span 5;
    grid-row: 2;
}.grid-item-3{
    grid-column: 5 / span 8;
    grid-row: 2;
}.grid-item-4{
    grid-column: 8 / span 12;
    grid-row: 2;
}
.cntrls{
    font-size:xx-large
}